{{#if schedules}}
<table class="table mb-4">
    <tr>
        <th>User ID</th>
        <th>Date</th>
        <th>Start time</th>
        <th>End time</th>
    </tr>
    {{#each schedules}}
    <tr>
        <td>
            {{#if ../showLink}}
            <a href="/users/{{this.userId}}/schedules">{{this.userId}}</a>
            {{else}}
            {{this.userId}}
            {{/if}}
        </td>

        <td>{{this.date}}</td>

        <td>{{this.startTime}}</td>

        <td>{{this.endTime}}</td>
    </tr>
    {{/each}}
</table>
{{/if}}

{{#if message}}
<div class="text-center">{{message}}</div>
{{/if}}

{{> buttonRow }}