{{#if schedules}}
<table class="table mb-4">
    <tr>
        <th>User ID</th>
        <th>Day</th>
        <th>Start time</th>
        <th>End time</th>
    </tr>
    {{#each schedules}}
    <tr>
        <td>
            <a href="/users/{{this.user_id}}/schedules">{{this.user_id}}</a>
        </td>

        <td>
            {{lookup ../days this.day}}
        </td>

        <td>
            {{this.start_at}}
        </td>

        <td>
            {{this.end_at}}
        </td>
    </tr>
    {{/each}}
</table>
{{/if}}

{{#if message}}
<div class="text-center">{{message}}</div>
{{/if}}

{{> buttonRow }}