{{#if users}}
<table class="table mb-4">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    {{#each users}}
    <tr>
        <td>
            {{#if ../linkName}}
            <a href="/users/{{this.userId}}">{{this.firstName}}</a>
            {{else}}
            {{this.firstName}}
            {{/if}}
        </td>

        <td>
            {{#if ../linkName}}
            <a href="/users/{{this.userId}}">{{this.lastName}}</a>
            {{else}}
            {{this.lastName}}
            {{/if}}
        </td>

        <td>{{this.email}}</td>

        <td>{{this.password}}</td>
    </tr>
    {{/each}}
</table>
{{/if}}

{{#if linkSchedules}}
<a href="/users/{{users.0.userId}}/schedules">View {{users.0.firstName}} {{users.0.lastName}}'s Schedules</a>
{{/if}}

{{> buttonRow }}